div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.green {
    background-color: rgb(30, 136, 80);
    top: 30px;
    left: 30px;
    z-index: 2;

}

.red {
    background-color: rgb(208, 68, 68);
    top: 40px;
    left: 40px;
    z-index: 3;
}

.blue {
    background-color: rgb(64, 64, 236);
    top: 20px;
    left: 20px;
    z-index: 1;
}

.black {
    background: black;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0px;
}