.div {
    background-color: rgb(222, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 15px;
    padding: 30px;
    border-left: orangered 4px solid;
    border-right: purple 4px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div::after {
    background-image: linear-gradient(to right, orangered 20%, blue 20%, blue 40%, green 40%, green 60%, pink 60%, pink 80%, purple 80%);
    content: "";
    width: 200px;
    height: 4px;
    position: absolute;
    top: 8px;
    left: 12px;
}

.div::before {
    background-image: linear-gradient(to right, orangered 20%, blue 20%, blue 40%, green 40%, green 60%, pink 60%, pink 80%, purple 80%);
    content: "";
    width: 200px;
    height: 4px;
    position: absolute;
    top: 79px;
    left: 12px;
}

form {
    background-color: rgb(222, 221, 221);
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
}

input::before {
    background-image: linear-gradient(to right, red 50%, green 50%);
    content: "";
    width: 200px;
    height: 4px;
    position: absolute;
    top: 10px;
    z-index: 5;
    border-style: none;

}

input {
    margin: 10px;
    caret-color: green;

}